
/* --------------------------------------------------------------------- */
/* FONTS */
/* --------------------------------------------------------------------- */
@font-face { 
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway.ttf');
}

@font-face { 
    font-family: 'Raleway-MediumItalic';
    src: url('../fonts/Raleway/Raleway-MediumItalic.ttf');
}

@font-face { 
    font-family: 'Raleway-Thin';
    src: url('../fonts/Raleway/Raleway-Thin.ttf');
}

@font-face { 
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway/Raleway-Bold.ttf');
}

/* --------------------------------------------------------------------- */
/* CONTENT */
/* --------------------------------------------------------------------- */

html{
	margin-top: 0px;
	font-family: 'Raleway-Thin';
	height: 100%;
	overflow-x: hidden;
}

body{
	heigth:100%;
}

header, footer{
	position:relative;
	padding:5px;
	//background:rgba(21,171,170,0.7);
	//background:rgba(231,215,192,1);
	background:url("../images/background/random_grey.png");
	//color:#280e06;
	color:white;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight:bold;	
}

footer{
	margin-top:30px;
	bottom:0;	
}

.background{
	margin-top: 0px;
	//background: url("../images/background/violate.jpg");
	//background: url("../images/background/blue.jpg");
	//background: url("../images/background/city.jpg");
	//background: url("..//images/background/kiwi.jpg");
	background: url("../images/background/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat:no-repeat;
	//height: 100%;
}

.background-grid{
	margin-top: 0px;
	background: url("../images/background/grid.png");
}

.panel-left{
	height:100%;
	//background:rgba(0,0,0,0.2);	
	//border-right:1px #CCC solid;
	padding-right:5px;
	padding-left:5px;
}

.panel-right{
	height:100%;
	//background:rgb(0,0,255);	
}

.display-none{
	display:none;
}

/* --------------------------------------------------------------------- */
/* TEXT */
/* --------------------------------------------------------------------- */
a {
  color: #66d9ef;
  text-decoration: none;
}

a:hover {
  color:#42c4db;
}

h1{
	font-family: 'Raleway';
	color: white;
	//color: #4a1f0f;
	font-size: 30px;
}


h2{
	font-family: 'Raleway-MediumItalic';
	color: white;
	//color: #4a1f0f;
	font-size: 24px;
}

h3{
	font-family: 'Raleway';
	color: #333;
	//color: #4a1f0f;
	font-size: 30px;
}

h4{
	font-family: 'Raleway-Thin';
	color: white;
	//color: #4a1f0f;
	font-size: 34px;	
}

h5{ // box info property 
	font-family: 'Raleway';
	color: #111;
	//color: #4a1f0f;
	font-size: 16px;
	margin-left:10px;	
}

.align-center{
	text-align: center;
}

.align-left{
	text-align: left;
}

.text-thin{
	font-family: 'Raleway-Thin';
}

.uppercase{
	text-transform:uppercase;
}

/* --------------------------------------------------------------------- */
/* FONT SIZE */
/* --------------------------------------------------------------------- */

.font-size-20px{
	font-size: 20px;
}

.font-size-40px{
	font-size: 40px;
}

.font-size-70px{
	font-size: 70px;
}


/* --------------------------------------------------------------------- */
/* POSITION */
/* --------------------------------------------------------------------- */

.margin-top-5px{
	margin-top:5px;
}

.margin-top-10px{
	margin-top:10px;
}

.margin-top-15px{
	margin-top:15px;
}

.margin-top-20px{
	margin-top:20px;
}

.margin-top-25px{
	margin-top:25px;
}

.margin-top-30px{
	margin-top:30px;
}

.margin-left-5px{
	margin-left:5px;
}

.margin-left-15px{
	margin-left:15px;
}

.vertical-align-middle{
	vertical-align: middle;
}

.pos-right{
	text-align:right;
	position:absolute;
	right:10px;	
}


/* --------------------------------------------------------------------- */
/* SIZE */
/* --------------------------------------------------------------------- */

.width-25pc{
	width: 25%;	
}

.width-300{
	width:300px;	
}


/* --------------------------------------------------------------------- */
/* PADDING */
/* --------------------------------------------------------------------- */

.padding-left-10{
	padding-left: 10px;
}

/* HEIGHT & WIDTH */

.width-100px{
	width: 100px;
}

.width-210px{
	width: 210px;
}

.width-100pc{
	width: 100%;
}

.height-100px{
	height: 100px;
}


/* --------------------------------------------------------------------- */
/* OTHER */
/* --------------------------------------------------------------------- */

.inline-block{
	display: inline-block;
}

.pointer{
	cursor: pointer;
}

.circle{
	border-radius: 50%;
}

/* --------------------------------------------------------------------- */
/* BOXES */
/* --------------------------------------------------------------------- */

.white-box{
	background: white;
	padding: 20px;
	border: 1px #aaa solid;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* --------------------------------------------------------------------- */
/* BACKGROUND */
/* --------------------------------------------------------------------- */

.background-white{
	background: #fff;
}

.background-red{
	background: #d34541;
}

.background-dark-green{
	background: #004d40;
}

.background-green{
	background: #17b881;
}

.background-blue{
	background: #2f97b6;
}

.background-orange{
	background: #ed8b34;
} 

.background-ddd{
	background: #ddd;
}

.background-eee{
	background: #eee;
}

/* --------------------------------------------------------------------- */
/* COLOR */
/* --------------------------------------------------------------------- */

.white{
	color: white;
}

.red{
	color: red;
}

.green{
	color: #17b881;
}

.blue{
	color: #06F;
}

.sky-blue{
	color : #2cacd3;
}

.color-aaa{
	color: #aaa;
}

.color-888{
	color: #888;
}

/* --------------------------------------------------------------------- */
/* BUTTONS */
/* --------------------------------------------------------------------- */

#back-to-top {
	opacity: 0.8;
	width: 40px;
	height: 40px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 5px 0;
}

#back-to-top:hover {
	opacity: 1;
	color: #2d313f;
	background: #fff;
}

.btn-close{
	position:absolute;
	top:-8px;
	right:-8px;
	width:25px;
	height:25px;
	color:white;
	text-align:center;
	border-radius:50%;
	background:#15abaa;
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
	cursor:pointer;
	padding:0px 1px 3px 0px;
}

.info-action{
	background:#15abaa;
}

.caroufredsel-next, .caroufredsel-prev{
	background:url("../images/background/random_grey.png");
}

/* --------------------------------------------------------------------- */
/* MAP HORIZONTAL */
/* --------------------------------------------------------------------- */

.noo-map {
	position: relative;
	background: url("../images/background/bg-map.jpg") repeat-x scroll 0 top transparent;
	background-size: cover;
}

.noo-map #gmap {
	height: 840px;
	width: 100%;
}

.noo-map #gmap_search_input {
	margin-top: 10px;
	border: 1px solid transparent;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 35px;
	outline: none;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	left: 0px;
	line-height: 18px;
	margin-left: 70px;
	font-size: 16px;
	font-family: "Lato";
	font-weight: 300;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.noo-map #gmap_search_input {
		width: 258px;
		left: auto !important;
		right: 15px !important;
		top: 45px !important;
	}
}

@media screen and (max-width: 479px) {
	.noo-map #gmap_search_input {
		width: 275px;
		margin-left: 15px;
	}
}

.noo-map .gmap-control {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}

@media screen and (max-width: 479px) {
	.noo-map .gmap-control {
		top: 47px;
	}
}

.noo-map .gmap-control a {
	background: rgba(117,176,138,0.75);
	color: #fff;
	float: left;
	margin-right: 5px;
	text-align: center;
	min-width: 40px;
	height: 40px;
}

@media screen and (max-width: 479px) {
	.noo-map .gmap-control a {
		float: none;
		display: block;
		margin-bottom: 6px;
	}
}

.noo-map .gmap-control .gmap-mylocation {
	padding-left: 10px;
	padding-right: 10px;
}

.noo-map.fullscreen {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}

.noo-map .gmap-control a i {
	font-size: 30px;
	line-height: 40px;
}

.noo-map .gmap-control .gmap-mylocation i {
	font-size: 16px;
	margin: 0 5px;
}

.noo-map .gmap-control .gmap-full i {
	font-size: 20px;
}

.noo-map .gmap-control .gmap-prev i {
	margin-right: 2px;
}

.noo-map .gmap-control .gmap-next i {
	margin-left: 2px;
}

.noo-map .gmap-zoom {
	position: absolute;
	left: 0;
	top: 0;
	margin: 10px 15px;
	z-index: 100;
	width: 40px;
}

@media screen and (max-width: 479px) {
	.noo-map .gmap-zoom {
		top: 47px;
	}
}

.noo-map .gmap-zoom a {
	background: rgba(117,176,138,0.75);
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin-bottom: 5px;
	font-size: 18px;
}

.noo-map .gmap-zoom a {
	background: rgba(117,176,138,0.75);
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin-bottom: 5px;
	font-size: 18px;
}

.noo-map .gmap-loading {
	background-color: #fff;
	margin: 0px auto;
	position: absolute;
	top: 20%;
	left: 50%;
	width: 300px;
	height: 105px;
	margin-left: -150px;
	text-align: center;
	padding-top: 16px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	opacity: 0.95;
	z-index: 9999;
}

.noo-map .gmap-loader {
	margin: 10px auto;
	width: 100%;
	height: 30px;
	text-align: center;
}

.noo-map .gmap-loading .gmap-loader > div {
	-webkit-animation: 1.5s ease 0s normal none infinite loadingFade;
	-o-animation: 1.5s ease 0s normal none infinite loadingFade;
	animation: 1.5s ease 0s normal none infinite loadingFade;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin: 0 4px;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 10px;
	-webkit-animation-delay: 0;
	animation-delay: 0;
}

.noo-map .gmap-loading .gmap-loader .rect2 {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}

.noo-map .gmap-loading .gmap-loader .rect3 {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}

.noo-map .gmap-loading .gmap-loader .rect4 {
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
}

.noo-map .gmap-loading .gmap-loader .rect5 {
	-webkit-animation-delay: .8s;
	animation-delay: .8s;
}

@-webkit-keyframes loadingFade {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@-moz-keyframes loadingFade {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@keyframes loadingFade {
  0% {
    opacity: 0;
    filter: alpha(opacity=0)
  }
  50% {
    opacity: 1;
    filter: alpha(opacity=100)
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0)
  }
}

.noo-map .gmap-infobox {
	border: 1px solid #aba7a3;
	background: none repeat scroll 0 0 #ffffff;
	box-shadow: 3px 5px 13px 0 rgba(29,29,29,0.05);
	margin: -260px 0 0 -200px;
	max-width: 480px;
	padding: 0;
	position: absolute;
	width: 500px;
}

.noo-map .gmap-infobox .info-close {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: -10px;
	text-align: center;
	top: -10px;
	width: 20px;
}

.noo-map .gmap-infobox .info-img {
	float: left;
	width: 197px;
}

.noo-map .gmap-infobox .info-img img {
	width: 100%;
}

.noo-map .gmap-infobox .info-summary {
	margin-left: 197px;
	font-family: "Lato";
}

.noo-map .gmap-infobox .info-title {
	padding: 12px 15px;
	font-weight: bold;
	font-size: 16px;
	margin: 0;
	background: #f9f9f9;
	border-bottom: 1px solid #f3f3f3;
	height: 62px;
}

.noo-map .gmap-infobox .info-detail {
	background: #f9f9f9;
	border-top: 1px solid #fff;
	display: table;
	width: 100%;
	border-bottom: 1px solid #f3f3f3;
}

.noo-map .gmap-infobox .info-detail:before,
.noo-map .gmap-infobox .info-detail:after {
	content: " ";
	display: table;
}

.noo-map .gmap-infobox .info-detail > div {
	width: 45%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 15px 8px;
}

.noo-map .gmap-infobox .info-detail > div.bedrooms {
	width: 25%;
}

.noo-map .gmap-infobox .info-detail > div.bathrooms {
	width: 25%;
}

.noo-map .gmap-infobox .info-detail > div span {
	display: inline-block;
	padding-left: 32px;
	font-size: 16px;
	font-weight: 300;
}

.noo-map .gmap-infobox .info-detail > div.size span {
	background: url("../images/icon/size-icon.png") no-repeat scroll 0 center transparent;
}

.noo-map .gmap-infobox .info-detail > div.bedrooms span {
	background: url("../images/icon/bedroom-icon.png") no-repeat scroll 0 center transparent;
}

.noo-map .gmap-infobox .info-detail > div.bathrooms span {
	background: url("../images/icon/bathroom-icon.png") no-repeat scroll 0 center transparent;
}

.noo-map .gmap-infobox .info-more {
	border-top: 1px solid #fff;
	background: #ececec;
	display: table;
	width: 100%;
}

.noo-map .gmap-infobox .info-more > div {
	padding: 7px 15px;
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	text-align: left;
	font-weight: bold;
}

.noo-map .gmap-infobox .info-more .info-price {
	font-weight: 400;
	font-size: 18px;
	width: 80%;
}

.noo-map .gmap-infobox .info-more .info-action a {
	text-align: center;
	display: block;
	color: #fff;
	font-size: 16px;
}

.noo-map .gsearch {
	z-index: 100;
}

@media screen and (min-width: 992px) {
	.noo-map .gsearch > .container {
		position: relative;
	}
}

.noo-map .gsearch .gsearch-wrap {
	position: absolute;
	left: 0;
	right: auto;
	bottom: 50px;
	background: transparent;
	padding: 0 15px;
}

@media screen and (max-width: 991px) {
	.noo-map .gsearch .gsearch-wrap {
		position: relative;
		bottom: auto;
		left: auto;
		padding-top: 20px;
	}
}

.noo-map .gsearch .gsearch-wrap > form {
	background: #fff;
}

.gsearch .gsearch-wrap {
	background: #fff;
}

.noo-map .gsearch .gsearch-title {
	margin: 0;
	font-size: 24px;
	color: #F36;
	padding: 0 30px 0 100px;
	height: 70px;
	line-height: 70px;
	text-transform: uppercase;
}

@media screen and (max-width: 991px) {
	.noo-map .gsearch .gsearch-title {
		display: block;
		position: relative;
	}
}

@media screen and (max-width: 767px) {
	.noo-map .gsearch .gsearch-title {
		padding: 0 20px 0 90px;
	}
}

@media screen and (max-width: 479px) {
	.noo-map .gsearch .gsearch-title {
		padding: 0 10px 0 80px;
		line-height: normal;
	}
}

@media screen and (min-width: 992px) {
	.noo-map .gsearch .gsearch-title {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: auto;
		bottom: auto;
		-webkit-transform: translate(0, -100%);
		-moz-transform: translate(0, -100%);
		-ms-transform: translate(0, -100%);
		-o-transform: translate(0, -100%);
		transform: translate(0, -100%);
		margin: auto 15px;
	}
}

@media screen and (max-width: 479px) {
	.noo-map .gsearch .gsearch-title span {
		position: absolute;
		top: 50%;
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		-o-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}
}

.gsearch .gsearch-wrap .gsearch-content {
	background: url("../images/other/search-box-line.png") repeat-x left bottom;
	display: block;
}

@media screen and (min-width: 992px) {
	.gsearch .gsearch-wrap .gsearch-content {
		display: table;
	}
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field {
	display: inline-block;
	width: 100%;
	padding: 20px 10px;
}

@media screen and (min-width: 992px) {
	.gsearch .gsearch-wrap .gsearch-content .gsearch-field {
		display: table-cell;
		width: 80%;
		padding-top: 50px;
	}
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group {
	width: 100%;
	float: none;
	padding: 0 10px;
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
	.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group {
		width: 50%;
		float: left;
	}
}

@media screen and (min-width: 992px) {
	.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group {
		width: 25%;
	}
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .label-select {
	position: relative;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .label-select:before {
	content: "";
	position: absolute;
	right: 0;
	height: 100%;
	width: 50px;
	background: #FFF;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	pointer-events: none;
	z-index: 10;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .label-select:after {
	content: "\f107";
	font-family: FontAwesome;
	line-height: 1;
	position: absolute;
	top: 16px;
	right: 20px;
	pointer-events: none;
	z-index: 11;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group select {
	position: relative;
	display: block;
	height: 50px;
	font-size: 16px;
	color: #2D313F;
	line-height: 50px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	padding: 0 20px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group select > option {
	color: #606267;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range {
	height: 5px;
	background: #e5e5e5;
	border: 0 none;
	padding: 0 8px 0 10px;
	margin-top: 5px;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range-value {
	display: none;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-origin {
	border-radius: 0 !important;
	box-shadow: none;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-background {
	background: #FAFAFA;
	box-shadow: none;
	background: #e5e5e5;
	border-radius: 0 !important;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-handle {
	top: -7px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	outline: none;
	box-shadow: none;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-handle:before,
.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-handle:after {
	display: none;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-handle {
	left: -11px;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-handle .tooltip {
	opacity: 0;
	visibility: hidden;
	display: block;
	position: absolute;
	top: 28px;
	left: 50%;
	width: auto;
	background: #000;
	text-align: center;
	border: 0 none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	-webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  -ms-transition: opacity .15s linear;
  transition: opacity .15s linear;
	padding: 2px 5px;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-handle:hover .tooltip {
	opacity: 0.9;
	visibility: visible;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-handle .tooltip:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #000;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-handle .tooltip span {
	display: block;
	color: #fff;
	white-space: nowrap;
	padding: 2px;
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-action {
	display: block;
	vertical-align: top;
	width: 100%;
	padding: 0 20px 40px;
}

@media screen and (min-width: 992px) {
	.gsearch .gsearch-wrap .gsearch-content .gsearch-action {
		display: table-cell;
		width: 20%;
		padding: 50px 20px 0 0;
	}
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit .btn {
	width: 100%;
	font-size: 24px;
	color: #bdb254;
	text-transform: uppercase;
	font-weight: normal;
	white-space: normal;
	border: 0 none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

@media screen and (min-width: 992px) {
	.gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit .btn {
		width: auto;
		padding: 26px 10px;
	}
}

.gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit .btn:hover {
	color: #fff;
}


@media screen and (max-width: 991px) {
	.noo-map .gsearch .gsearch-wrap .gsearch-content .gsearch-field {
		padding-right: 0;
		padding-left: 0;
	}
}
	
.noo-map .gsearch .gsearch-title i {
	color: #fff;
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 32px;
	position: absolute;
	top: 0;
	left: 0;
}

/* --------------------------------------------------------------------- */
/* MAP VERTICAL */
/* --------------------------------------------------------------------- */

.map-vertical .noo_advanced_search_property.vertical {
	padding-bottom: 70px;
}

@media screen and (min-width: 992px) {
	.noo_advanced_search_property.vertical .gsearch .container {
		position: relative;
	}

	.noo_advanced_search_property.vertical .gsearch .gsearch-wrap {
		bottom: 50px;
		width: 311px;
		position: absolute;
		right: 15px;
		left: auto;
		padding: 0;
	}

	.noo_advanced_search_property.vertical .gsearch .gsearch-wrap .gsearch-content .gsearch-field > div {
		float: none;
		width: 100%;
		padding: 0;
	}

	.noo_advanced_search_property.vertical .gsearch .gsearch-wrap .gsearch-content .gsearch-field, .noo_advanced_search_property.vertical .gsearch .gsearch-wrap .gsearch-content .gsearch-action {
		display: block;
		width: 100%;
		padding: 15px 30px;
		background: none;
	}

	.noo_advanced_search_property.vertical .gsearch .gsearch-wrap .gsearch-content {
		display: block;
		background: #f9f9f9;
	}

	.noo_advanced_search_property.vertical .gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group select {
		height: 40px;
		background-color: #fff;
		line-height: 40px;
	}

	.noo_advanced_search_property.vertical .gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit .btn {
		width: 100%;
		background: #ededed;
		color: #94a2a7;
		font-size: 20px;
		padding: 16px;
	}

	.noo_advanced_search_property.vertical .gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit .btn:hover {
		color: #fff;
	}

	.noo_advanced_search_property.vertical .gsearch .gsearch-title {
		right: 0;
		left: auto;
		display: block;
		width: 100%;
		padding: 0 0 0 20px;
		margin: 0;
		font-size: 22px;
		font-weight: bold;
		text-align: left;
	}

	.noo_advanced_search_property.vertical .gsearch .gsearch-title i {
		-webkit-transform: translate(-100%, 0);
		-moz-transform: translate(-100%, 0);
		-ms-transform: translate(-100%, 0);
		-o-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}



/* --------------------------------------------------------------------- */
/* HOME SLIDER */
/* --------------------------------------------------------------------- */


.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide {
	max-height: 700px;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.noo-property-slide-wrap.noo-slider .slider-control {
		top: 38%;
	}
}

@media screen and (min-width: 992px) {
	.noo-property-slide-wrap.noo-slider .slider-control {
		top: 50%;
		background: none repeat scroll 0 0 transparent;
		display: inline-block;
		height: 141px;
		margin-top: -83px;
		width: 71px;
		outline: none;
	}

	.noo-property-slide-wrap.noo-slider .prev-btn {
		background: url("../images/icon/prev-icon.png") no-repeat scroll 0 0 transparent;
		left: 30px;
	}

	.noo-property-slide-wrap.noo-slider .next-btn {
		background: url("../images/icon/next-icon.png") no-repeat scroll 0 0 transparent;
		right: 30px !important;
	}

	.noo-property-slide-wrap.noo-slider .slider-control span {
		display: none;
	}
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption {
	background: none;
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info {
	background: rgba(0, 0, 0, 0.4);
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info h3 {
	margin: 0;
	padding: 10px 0;
}

@media screen and (min-width: 768px) {
	.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info h3 {
		padding: 30px 0;
	}
}

@media screen and (min-width: 992px) {
	.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info h3 {
		padding: 50px 0;
	}
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info h3 a {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info h3 a {
		font-size: 30px;
	}
}

@media screen and (min-width: 992px) {
	.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info h3 a {
		font-size: 48px;
	}
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info h3 small {
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	display: block;
	margin-top: 15px;
}

@media screen and (max-width: 991px) {
	.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info h3 small {
		font-size: 20px;
	}
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info .info-summary {
	background: rgba(0,0,0,0.7);
	text-align: center;
	padding: 20px 0;
}

@media screen and (max-width: 767px) {
	.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info .info-summary {
		display: none;
	}
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info .info-summary>div {
	display: inline-block;
	padding: 0 30px;
	font-size: 16px;
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info .info-summary>div.property-price {
	font-weight: bold;
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info .info-summary>div span {
	display: inline-block;
	padding-left: 40px;
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info .info-summary>div.property-price span {
	padding: 0;
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info .info-summary>div.size span {
	background: url("../images/icon/size-icon-2.png") no-repeat scroll 0 center transparent;
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info .info-summary>div.bathrooms span {
	background: url("../images/icon/bathroom-icon-2.png") no-repeat scroll 0 center transparent;
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-info .info-summary>div.bedrooms span {
	background: url("../images/icon/bedroom-icon-2.png") no-repeat scroll 0 center transparent;
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-action {
	display: none;
}

@media screen and (min-width: 768px) {
	.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-action {
		display: block;
		padding-top: 20px;
	}
}

@media screen and (min-width: 992px) {
	.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-action {
		padding-top: 50px;
	}
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-action a {
	color: #bdb254;
	font-size: 18px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 40px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
}

@media screen and (min-width: 768px) {
	.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-action a {
		font-size: 18px;
	}
}

@media screen and (min-width: 992px) {
	.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-action a {
		font-size: 24px;
	}
}

.noo-slider .caroufredsel_wrapper .sliders .slide-item.noo-property-slide .slide-caption .slide-caption-action a:hover {
	color: #fff;
	border-color: #bdb254;
}

/* --------------------------------------------------------------------- */
/* MENU */
/* --------------------------------------------------------------------- */

.menu{
	background: #464c56;
	//background: rgba(30,30,30,0.7);
	//background:url("../images/background/random_grey.png");
	margin-top: 2px;
	text-align: center;
}

.menu li{
	display: inline-block;
	font-size: 15px;
	cursor:pointer;
	text-decoration: none;
	padding:10px;
}

.menu li:hover{
	background: rgba(0,0,0,0.5);
}

.menu li a{
	color:#8de2f3;
}

/* --------------------------------------------------------------------- */
/* CONVERSATION */
/* --------------------------------------------------------------------- */

.grey-box{
	padding: 10px;
	background: #eee;
	border: 1px #ddd solid;
	margin-top: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

textarea{
	width: 100%; 
	height: 125px; 
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #ddd;
	padding: 10px;
	resize:none;
}

/* --------------------------------------------------------------------- */
/* PROPERTY DETAILS */
/* --------------------------------------------------------------------- */

.sep-left{
	border-left: 1px #ccc solid;
}

/* --------------------------------------------------------------------- */
/* 	BUTTONS */
/* --------------------------------------------------------------------- */

.btn-black{
	cursor:pointer;
	background: rgba(0,0,0,0.2);
	color:white;
	border: #555;
	border-radius: 5px;
	font-size: 18px;
	font-family: 'Raleway-Thin';
}

.btn-black:hover{
	background: rgba(30,30,30,0.6);
	color : #2cacd3;
}

.btn-text{
	background: rgba(0,0,0,0);
	font-family: 'Raleway-Thin';
	cursor: pointer;
	color: white;
	font-style: italic;
}